@import '../mixins';
@import '../variables';
@import '../base';

.main-section {
    background: linear-gradient(to right, rgba($secondary, 0.49), rgba($primary, 0.49)), 
    url(../../img/sect.jpg);
    /* background-image: url(../Image/bg.jpg); */
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    overflow: hidden;

.content {
    margin: 12rem;
    text-align: center;

    @include mobile {
        text-align: center !important;
        
    }

    h1 {
        font-size: 3rem;
        color: $cream-color;
        text-shadow: 2px 2px 2px $primary;
        padding: 0rem 0rem;

    }
    button {
        @include button;
    }
    button:hover {
        @include hover;
    }
    
  }  
  .bottom-text {
        color: $cream-color;
        margin-left: 1rem;
        font-size: 1.5rem;
        bottom: 1rem;
    }
}